/*Start Secondery Hero Style*/

button,
a {
    cursor: pointer !important;
}

.secondery-hero-wrap {
    position: relative;
}
.secondery-hero-wrap:after {
    content: '';
    position: absolute;
    top: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 14.8%;
    background-color: #2070ad;
}
.secondery-hero-wrap .wrapper {
    padding-bottom: 0;
}
.secondery-hero-back-bg {
    width: 100%;
}
.secondery-hero-back-bg figure {
    padding: 0 15px;
}
.secondery-hero-back-bg figure img {
    width: 100%;
}
.secondery-hero-inner {
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.secondery-hero-inner h2 {
    text-align: center;
    max-width: 800px;
    margin-bottom: 1.25rem;
    position: relative;
    z-index: 1;
}

.secondery-hero-inner p {
    text-align: center;
    max-width: 325px;
    position: relative;
    z-index: 2;
}
.secondery-hero-inner figure {
    width: 100%;
    margin-top: -26px;
    position: relative;
    z-index: 1;
}
.secondery-hero-inner figure img {
    max-width: 448px;
    margin: 0 auto;
}
.job-seekers-hero .secondery-hero-inner figure img {
    max-width: 270px;
}
.secondery-hero-inner a.btn {
    background-color: var(--sun);
}
/*End Secondery Hero Style*/

/*Start Job Seekers Hero Style*/
.job-board-hero.secondery-hero-wrap .wrapper {
    padding-inline: 3rem;
    padding-block: 6.5rem 2rem;
    position: relative;
}
.job-board-hero .secondery-hero-inner h2 {
    margin-bottom: 2.25rem;
}
.job-board-hero .secondery-hero-inner p {
    margin-bottom: 3.625rem;
}
.job-board-hero .secondery-hero-back-bg {
    width: 100%;
    left: 0;
    padding-inline: 3rem;
    padding-bottom: 1rem;
}
.job-board-hero .secondery-hero-back-bg figure {
    padding: 0;
}
.job-board-hero.secondery-hero-wrap:after {
    display: none;
}
.job-board-hero .companies-icon-wrap {
    margin-top: 10.75rem;
    padding-inline: 1rem;
}
/*End Job Seekers Hero Style*/

/*Start Job Vacancies Style*/
.vacancies-title-bar {
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 1.625rem 2.125rem 1.8125rem;
    border-radius: 4px;
    box-shadow: 9px 6px 0 #b3b3b3;
    margin-top: 7.5rem;
}

.vacancies-title {
    width: calc(100% - 27px);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
}
.vacancies-title h6 {
    color: var(--sun);
}
.vacancies-title h6:nth-child(1) {
    width: 36.122%;
}
.vacancies-title h6:nth-child(2) {
    width: 38.757%;
}
.vacancies-title h6:nth-child(3) {
    width: 25%;
}
.vacancies-title-icon {
    width: 27px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--sun);
    box-shadow: 2px 2px 0 #b3b3b3;
    border-radius: 4px;
}

.vacancies-accordion-wrap {
    width: 100%;
    position: relative;
}
.vacancies-accordion-wrap:after {
    content: '';
    background: linear-gradient(
        0deg,
        #fdfdfd 0%,
        rgba(253, 253, 253, 0.63) 119.08%
    );
    width: 105%;
    height: 117px;
    position: absolute;
    top: auto;
    bottom: -15px;
    left: -2.5%;
    z-index: 1;
    transition: height 0.4s ease-out;
}
.vacancies-accordion-wrap.shape-none:after {
    height: 0;
}

.hide-loadmore .vacancies-accordion-wrap:after,
.hide-loadmore .load-more-btn {
    display: none;
}
.load-more-btn.hidden {
    display: none;
}

.vacancies-accordion {
    width: 100%;
    box-shadow: 9px 5px 0 var(--black);
    border: 1px solid var(--black);
    border-radius: 4px;
    margin-top: 1.375rem;
    padding: 1.625rem 2.125rem 1.8125rem;
    position: relative;
}
.vacancies-accordion.hidden {
    display: none;
}
.vacancies-accordion.accordion-active {
    box-shadow: 9px 20px 0 var(--black);
}
.vacancies-accordion-title-bar {
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.vacancies-accordion-title-bar:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 84px;
    cursor: pointer;
}
.vacancies-accordion-title {
    width: calc(100% - 27px);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    z-index: 1;
    cursor: pointer;
}
.vacancies-accordion-title h6 {
    color: var(--black);
}
.vacancies-accordion-title h6:nth-child(1) {
    width: 36.122%;
}
.vacancies-accordion-title h6:nth-child(2) {
    width: 38.757%;
}
.vacancies-accordion-title h6:nth-child(3) {
    width: 25%;
}
.vacancies-accordion-title-icon {
    width: 27px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--black);
    box-shadow: 2px 2px 0 #b3b3b3;
    border-radius: 4px;
    z-index: 1;
    cursor: pointer;
    position: relative;
}
.vacancies-accordion-title-icon:after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 11px;
    height: 15px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    background-image: url(../svgs/arrow-down-white.svg);
    transform: translate(-50%, -50%) rotate(-90deg);
    transition: 0.3s ease-in-out;
}
.vacancies-accordion-title-bar[aria-expanded='true']
    .vacancies-accordion-title-icon:after {
    transform: translate(-50%, -50%) rotate(0);
}
.vacancies-accordion-content {
    width: calc(100% - 27px);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row; /* margin-top: 1.5rem; */
    max-height: 0;
    overflow: hidden;
    transition: all 300ms ease-in-out;
}
.vacancies-accordion-title-bar[aria-expanded='true']
    + .vacancies-accordion-content {
    max-height: 50rem;
    transition: all 300ms ease-in-out;
    margin-top: 1.5rem;
    padding-bottom: 0.6rem;
}
.vacancies-accordion-content-item:nth-child(1) {
    width: 36.122%;
}
.vacancies-accordion-content-item:nth-child(2) {
    width: 38.757%;
}
.vacancies-accordion-content-item:nth-child(3) {
    width: 25%;
}
.vacancies-accordion-content-item p,
.vacancies-accordion-content-item ul {
    margin-top: 0.815rem;
}
.vacancies-accordion-content-item ul li {
    margin-bottom: 0.5rem;
}
.vacancies-accordion-content-item a {
    margin-top: 2rem;
}
.load-more-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5.75rem;
}
.load-more-btn a.btn {
    background-color: var(--sun);
}
.vacancies-accordion-content-item h6 {
    color: var(--secondery-black);
}

/* Popup*/

.vacancies-wrap .wrapper .pop-up {
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: clamp(300px, 75%, 600px);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    padding: 4rem 2rem;
    display: none;
    /* pointer-events: none; */
    overflow: scroll;
}
.vacancies-wrap .wrapper .pop-up.active {
    opacity: 1;
    pointer-events: all;
    display: block;
}
.vacancies-wrap .wrapper .pop-up .x-button {
    position: absolute;
    width: 2.5rem;
    background-color: transparent !important;
    border: none;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    transition: scale 500ms ease;
}
.vacancies-wrap .wrapper .pop-up .x-button:hover {
    scale: 0.95;
    transition: scale 500ms ease;
}

.vacancies-wrap .wrapper .pop-up .pop-up-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.vacancies-wrap .wrapper .pop-up .pop-up-container .application-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.vacancies-wrap .wrapper .pop-up .pop-up-container .application-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.vacancies-wrap
    .wrapper
    .pop-up
    .pop-up-container
    .application-content
    .application-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

iframe {
    min-height: 400px !important;
}

.submitted-message {
    border: 5px solid red !important;
}
/* Popup*/

.texts-btn-wrap .wrapper .pop-up {
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: clamp(300px, 75%, 600px);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    padding: 4rem 2rem;
    display: none;
    /* pointer-events: none; */
    overflow: scroll;
    max-height: 750px;
}
.texts-btn-wrap .wrapper .pop-up.active {
    opacity: 1;
    pointer-events: all;
    display: block;
}
.texts-btn-wrap .wrapper .pop-up .x-button {
    position: absolute;
    width: 2.5rem;
    background-color: transparent !important;
    border: none;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    transition: scale 500ms ease;
}
.texts-btn-wrap .wrapper .pop-up .x-button:hover {
    scale: 0.95;
    transition: scale 500ms ease;
}

.texts-btn-wrap .wrapper .pop-up .pop-up-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 2rem;
}
/* .texts-btn-wrap .wrapper .pop-up .pop-up-container .application-content {
    overflow: visible;
    display: grid;
    align-self: center;
    width: calc(100% + 4rem);
    height: calc(200px + 4rem);
    margin-block-start: -4rem;
}
.texts-btn-wrap .wrapper .pop-up .pop-up-container .application-content img {
    height: calc(200px + 4rem);
    width: 100%;
    object-fit: cover;
}
.texts-btn-wrap .wrapper .pop-up .pop-up-container .application-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
} */
.texts-btn-wrap
    .wrapper
    .pop-up
    .pop-up-container
    .application-content
    .application-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

iframe {
    min-height: 400px !important;
}

/* // Profile Pop Up */

/*End Job Vacancies Style*/

/*Start Submit Job Style*/
.texts-btn-wrap {
    padding-bottom: 5rem;
}
.texts-btn-inner h2 {
    max-width: 690px;
    margin-bottom: 2rem;
    text-align: center;
}
.texts-btn-inner p {
    max-width: 370px;
    margin-bottom: 3rem;
    text-align: center;
}
.job-board .texts-btn-inner p {
    max-width: 426px;
}
.texts-btn-inner a.btn {
    background-color: var(--sun);
}
/*End Submit Job Style*/

.vacancies-container {
    float: left;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}
.empty-vacancies-wrap {
    float: left;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    margin-top: 7.5rem;
    display: none;
}
.empty-vacancies-thumb {
    width: 100%;
    justify-content: center;
}
.empty-vacancies-thumb figure {
    max-width: 265px;
}
.empty-vacancies-thumb lottie-player {
    max-width: 265px;
}
.empty-vacancies-thumb figure img {
    width: 100%;
}
.empty-vacancies-content {
    width: 100%;
    margin-top: 3rem;
}
.empty-vacancies-content h2 {
    text-align: center;
    max-width: 703px;
    margin: 0 auto;
}
.empty-vacancies-form {
    width: 100%;
    justify-content: center;
    margin-top: 4rem;
}
.empty-vacancies-form form {
    width: 100%;
    max-width: 431px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.empty-vacancies-form form input {
    width: calc(100% - 186px);
    padding: 10px;
    background-color: var(--golden-tainoi);
    border-radius: 4px;
    border: 1px solid var(--black);
    color: var(--black);
    font-family: var(--Montserrat);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    box-shadow: 6px 6px 0 0 var(--black);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    top: 0;
    left: 0;
    position: relative;
}
.empty-vacancies-form form input[type='submit'] {
    width: 170px;
    background-color: var(--black);
    color: var(--second-white);
    padding-right: 31px;
    background-repeat: no-repeat;
    background-position: 82% 50%;
    background-size: 14px 10px;
    background-repeat: no-repeat;
    box-shadow: 6px 6px 0 0 #b3b3b3;
    background-image: url(../../svgs/btn-arrow-white.svg);
}
.show-empty-vacancies .vacancies-container {
    display: none;
}
.show-empty-vacancies .empty-vacancies-wrap {
    display: block;
}

@media only screen and (max-width: 500px) {
    .job-board-hero .companies-icon-wrap {
        margin-top: 3rem;
    }
    .job-board-hero.secondery-hero-wrap .wrapper {
        padding-inline: 1rem;
        padding-block: 4rem 6rem;
    }
    .job-board-hero .secondery-hero-inner p {
        margin-bottom: 2rem;
    }
    .job-board-hero .secondery-hero-inner h2 {
        margin-bottom: 1rem;
    }
    .job-board-hero .secondery-hero-back-bg {
        padding-inline: 1rem;
        padding-bottom: 1rem;
    }

    .vacancies-title-bar {
        padding: 1rem;
    }
    .vacancies-accordion {
        padding: 1rem;
    }
    .vacancies-title h6,
    .vacancies-accordion-title h6,
    .vacancies-accordion-content-item h6 {
        font-size: 14px;
        line-height: 20px;
    }
    .vacancies-accordion-content-item:nth-child(1) {
        width: 30%;
    }
    .vacancies-accordion-content-item:nth-child(2) {
        width: 30%;
    }
    .vacancies-accordion-content-item:nth-child(3) {
        width: 40%;
    }

    .vacancies-accordion-title h6:nth-child(1),
    .vacancies-title h6:nth-child(1) {
        width: 32%;
    }
    .vacancies-accordion-title h6:nth-child(2),
    .vacancies-title h6:nth-child(2) {
        width: 32%;
    }
    .vacancies-accordion-title h6:nth-child(3),
    .vacancies-title h6:nth-child(3) {
        width: 36%;
    }
    .vacancies-accordion-content {
        width: 100%;
    }
    .vacancies-accordion-content-item a.btn {
        padding: 12px 10px;
        font-size: 14px;
    }
    .vacancies-accordion-content-item p,
    .vacancies-accordion-content-item ul li {
        font-size: 12px;
        line-height: normal;
    }
    .vacancies-accordion-content-item {
        padding-right: 5px;
    }
    .vacancies-accordion-content-item:last-child {
        padding-right: 0;
    }
    .vacancies-accordion-wrap:after {
        height: 80px;
    }
}

@media only screen and (max-width: 374px) {
    .vacancies-title h6,
    .vacancies-accordion-title h6,
    .vacancies-accordion-content-item h6 {
        font-size: 12px;
        line-height: 18px;
    }
    .vacancies-accordion-content-item a.btn {
        font-size: 12px;
        padding: 10px 7px;
    }
}

@media only screen and (min-width: 501px) and (max-width: 700px) {
    .vacancies-wrap .wrapper {
        padding-inline: 2rem;
    }

    .vacancies-title-bar {
        padding: 1rem;
    }
    .vacancies-accordion {
        padding: 1rem;
    }
    .vacancies-title h6,
    .vacancies-accordion-title h6,
    .vacancies-accordion-content-item h6 {
        font-size: 14px;
        line-height: 20px;
    }
    .vacancies-accordion-content-item:nth-child(1) {
        width: 30%;
    }
    .vacancies-accordion-content-item:nth-child(2) {
        width: 30%;
    }
    .vacancies-accordion-content-item:nth-child(3) {
        width: 40%;
    }

    .vacancies-accordion-title h6:nth-child(1),
    .vacancies-title h6:nth-child(1) {
        width: 32%;
    }
    .vacancies-accordion-title h6:nth-child(2),
    .vacancies-title h6:nth-child(2) {
        width: 32%;
    }
    .vacancies-accordion-title h6:nth-child(3),
    .vacancies-title h6:nth-child(3) {
        width: 36%;
    }
    .vacancies-accordion-content {
        width: 100%;
    }
    .vacancies-accordion-content-item a.btn {
        padding: 12px 16px;
    }
}

@media only screen and (min-width: 701px) and (max-width: 950px) {
}
@media only screen and (min-width: 951px) and (max-width: 1024px) {
    .vacancies-wrap .wrapper {
        padding-inline: 4rem;
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .vacancies-wrap .wrapper {
        padding-inline: 4rem;
    }
}
