/*Start Job Pool Style*/
.job-pool-wrap .wrapper{padding-inline: 3.75rem;}
.job-pool-back-bg{position: absolute; top: 20px; left: 0; width: 100%; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; justify-content: center;}
.job-pool-card-wrap{gap: 2.1rem 1.125rem; width: 100%; margin-top: 8.375rem;}
.job-pool-card{width: 100%; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; flex-direction: column; align-items: center; padding: 2.125rem 3rem 3rem; border: 1px solid var(--black); border-radius: 4px; background-color: var(--second-white);}
.job-pool-card figure{max-width: 147px; margin-bottom: 2.375rem;}
.job-pool-card h4{margin-bottom: 1rem; font-size: 24px; line-height: 1.1; font-family: var(--Montserrat); font-weight: 600;}
.job-pool-card h5{margin-bottom: 1.75rem; font-family: var(--Montserrat); font-weight: 400; line-height: 1.1}
.job-pool-inner h2{z-index: 1}
.job-pool-inner h2 img { position: absolute; margin: 10px 0 0 12px; }
/*End Job Pool Style*/



/*Start Submit Job Style*/
.texts-btn-wrap{padding-bottom: 5rem;}
.texts-btn-inner h2{max-width: 690px; margin-bottom: 2rem; text-align: center;}
.texts-btn-inner p { max-width: 425px; margin-bottom: 3rem; text-align: center; }
/*End Submit Job Style*/


@media only screen  and (max-width: 500px) {

    .job-pool-wrap .wrapper { padding-inline: 1.75rem; }
    .job-pool-card-wrap{grid-template-columns: 1fr;}
    .job-pool-card {padding: 2.125rem 2rem 3rem;}

}
@media only screen and (min-width: 501px) and (max-width: 700px) {

    .job-pool-card-wrap{grid-template-columns: 1fr;}

}

@media only screen and (min-width: 701px) and (max-width: 950px) {

    .job-pool-card-wrap{grid-template-columns: 1fr 1fr;}
    .job-pool-card {padding: 2.125rem 2rem 3rem;}
    
    .job-pool-inner h2 img { position: absolute; margin: 8px 0 0 12px; width: 34px; }

}
@media only screen and (min-width: 951px) and (max-width: 1024px) {

    .job-pool-card {padding: 2.125rem 2rem 3rem;}

}