.hero-main {
    .wrapper {
        padding-block: 8rem 0;
        h1 {
            text-align: center;
        }
        p {
            text-align: center;
            margin-block-start: 1rem;
            max-width: 50ch;
            margin-inline: auto;
        }
        .trades-grid {
            display: grid;
            width: 100%;
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
            place-content: center;
            margin-block: 4rem;

            a {
                color: black;
            }

            .card {
                background-color: #f8b80e;
                padding: 2rem;
                display: grid;
                place-content: center;
                border-radius: 0.25rem;
                -webkit-box-shadow: 6px 6px 0 0 var(--black);
                box-shadow: 6px 6px 0 0 var(--black);
                cursor: pointer;
                transition: transform 0.3s ease, box-shadow 0.3s ease,
                    -webkit-box-shadow 0.3s ease;

                &:hover {
                    -webkit-box-shadow: 3px 3px 0 0 var(--black);
                    box-shadow: 3px 3px 0 0 var(--black);
                    transform: translate(3px, 3px);
                }
            }
        }
    }
    @media (max-width: 600px) {
        .wrapper {
            padding-block: 4rem;
            .trades-grid {
                grid-template-columns: 1fr;
            }
        }
    }
}
